# Virtual Environment
env/

# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Config, data
.env